*{
  font-family: 'Krona One', sans-serif;
  background-color: whitesmoke;
}
body{
  width: 100%;
  /* margin: auto; */
}
.three-image{
  width: 540px;
  margin: auto;
  width: 475px;

}
img{
  width: 150px;
  height: 150px;
  padding: 15px;
  border: solid;
  box-sizing: border-box;
  display: inline-block;
}
footer{
  font-family: 'Krona One', sans-serif;
  /* padding: 15px; */
  text-align: center;
}
li:nth-child(odd) {
  /* background: skyblue; */
  margin-top: 25px;
}
/* ul{
  font-family: 'Krona One', sans-serif;
  line-height: 25px;
} */
